#main {
  margin: 20px 0 0 0;
}

.messages {
  position: absolute;
  width: 50%;
  top: 1%;
  left: 45%;
}

.messages .alert {
  background-color: #24292e;
  opacity: 0.9;
}

.messages .alert-success {
  color: #25f904;
}

.messages .alert-success a {
  color: #25f904;
}

#task-table {
  margin-top: 30px;
}
